In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import os
uri = os.environ.get('MONGO_URI')

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
import pandas as pd
import pymongo

In [4]:
# Replace <connection_string> with the actual connection string provided by MongoDB Atlas
client = pymongo.MongoClient(uri)
db = client[os.environ.get('DATABASE')]
collection = db[os.environ.get('COLLECTION')]

In [5]:
df = pd.read_csv("Airline_review.csv")
df = df[:10]

In [5]:
csv_data = df.to_dict("records")

In [6]:
df.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [6]:
collection.insert_many(csv_data)

InsertManyResult([ObjectId('66044c0f7f36dfad8a568758'), ObjectId('66044c0f7f36dfad8a568759'), ObjectId('66044c0f7f36dfad8a56875a'), ObjectId('66044c0f7f36dfad8a56875b'), ObjectId('66044c0f7f36dfad8a56875c'), ObjectId('66044c0f7f36dfad8a56875d'), ObjectId('66044c0f7f36dfad8a56875e'), ObjectId('66044c0f7f36dfad8a56875f'), ObjectId('66044c0f7f36dfad8a568760'), ObjectId('66044c0f7f36dfad8a568761')], acknowledged=True)